.python-version
*.pyc
env
env/*
*~
*.DS_Store
*_build*
.eggs*
*.egg-info*
.cache
.pytest_cache
/tests/basic/data/tmp
/tests/basic/run00*
*.fa
*.bam
/venv
/VRE_CWL_RUNNER.log
.idea
/tests/basic/config.json
/tests/basic/in_metadata.json
