.python-version
*.pyc
venv
venv/*
*~
*.DS_Store
*_build*
.eggs*
*.egg-info*
.cache
.pytest_cache

# openvre
*/run00*
/VRE_CWL_RUNNER.log
/tests/basic/config.json
/tests/basic/in_metadata.json

# Input files
*.fa
*.bam

# CWL lib
/lib/*.cwl

# PyCharm
.idea
/tests/kfdrc_alignment/run000/
